<table border="1" *ngIf="StudentData">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Course</th>
    <th>Mobile Number</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let student of StudentData">
    <td> {{student.sc__sc_employees4__studentid5c14998f34841d67f32c3a10}} </td>
    <td>{{student.sc__sc_employees4__name5c14999034841d68042c37a4}}</td>
    <td>{{student.sc__sc_employees4__age5c14999034841d67e22c72d0}}</td>
    <td>{{student.sc__sc_employees4__gender5c14999034841d67e22c72d4}}</td>
    <td>{{student.sc__sc_employees4__course5c14999134841d67d12c8356}}</td>
    <td>{{student.sc__sc_employees4__mobile_number5c14999134841d67f32c3a14}}</td>
    <td>{{student.sc__sc_employees4__address5c14999134841d67d12c835a}}</td>
  </tr>
</table>